# Xcode
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.moved-aside
DerivedData/
build/
# CocoaPods
Pods/
# Carthage
Carthage/Build/
# Swift Package Manager
/.build/
/Package.resolved
# macOS
.DS_Store
# Optional: Editor temp files
*~.swp
